<div class="ourmember-bgcolor">
    <hr class="top-dashed">
        <div class="grain">
            <div class="row vpg-content">
                <div class="content-tt">
                    <h2 class="section-title retro-borders">OUR MEMBER</h2>
                    <div class="separator"><span>×××</span></div>
                    <div class="section-subtitle col-md-12 col-sm-12 col-xs-12">HUMAIN IS THE COMPANY'S MOST IMPORTANT</div>
                </div>
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    <hr class="bottom-dashed">
</div>
